<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuqing.shopping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />





    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PublicActivity"></activity>
        <activity android:name=".MsgActivity" />
        <activity
            android:name=".nav_activity.ExchangeActivity"
            android:label="" />
        <activity
            android:name=".nav_activity.CollectionActivity"
            android:label="" />
        <activity
            android:name=".nav_activity.DynamicActivity"
            android:label="" />
        <activity
            android:name=".nav_activity.Fans"
            android:label="我的好友" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SortActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>